@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');

.header {
    display: flex;
    align-items: center;
    font-family: 'Love Light';
}

.header span {
    font-size: 30px;
}