@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.signup {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Manrope";
}

.section {
    width: 98%;
    height: 96%;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr;
}

.signupLabels {
    font-weight: 500;
    font-size: 14px;
}

.signupLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupContent {
    width: 65%;
}

.head {
    font-size: 25px;
    font-weight: bolder;
    margin: 20px 0 10px 0;
}

.textOne {
    font-size: 13px;
    margin: 0 0 20px 0;
}

.nameForm {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 15%;
    margin: 20px 0;
}

.name {
    width: 100%;
    padding: 8px;
}

.signupInput {
    width: 95%;
    padding: 8px;
    margin: 5px 0 15px 0;
}

input[type="checkbox"] {
    width: auto;
    margin: 0 0 20px 0;
}

.signupButton {
    width: 102%;
    background-color: #3E1800;
    color: white;
    border: 0;
    cursor: pointer;
}

.signupCheckboxText {
    font-size: 12px;
}

.signupHrLine {
    width: 36%;
    display: inline-block;
}

.signupHrText {
    font-size: 12px;
}

.signupGoogle {
    width: 102%;
    padding: 8px;
    margin: 20px 0;
    cursor: pointer;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.signupGoogleText {
    font-size: 13px;
}

.signupSigninLink {
    text-align: center;
    font-size: 13px;
    margin: 10px 0;
}

.signupRight {
    background-image: url(../../assets/images/one.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
