@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.signup {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Manrope";
}

.signup .section {
    width: 98%;
    height: 96%;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr;
}

.signup .signup-labels {
    font-weight: 500;
    font-size: 14px;
}

.signup .section .signup-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 65%;
}

.content .head {
    font-size: 25px;
    font-weight: bolder;
    margin: 20px 0 10px 0;
}

.content .text-one {
    font-size: 13px;
    margin: 0 0 20px 0;
}

.name-form {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 15%;
    margin: 20px 0;
}

.name-form input {
    width: 100%;
    padding: 8px;
    /* margin: 0px 0; */
}

.signup-input{
    width: 95%;
    padding: 8px;
    margin: 5px 0 15px 0;
}

input[type = "checkbox"] {
    width: auto;
    margin: 0 0 20px 0;
}

.signup-button {
    width: 102%;
    background-color: #3E1800;
    color: white;
    border: 0;
    cursor: pointer;
}

.signup .signup-checkbox-text {
    font-size: 12px;
}

.signup-left .signup-hr-line {
    width: 36%;
    display: inline-block;
}

.signup-left .signup-hr-text {
    font-size: 12px;
}

.signup-left .signup-google {
    width: 102%;
    padding: 8px;
    margin: 20px 0;
    cursor: pointer;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.signup-google .signup-google-text {
    font-size: 13px;
}

.signup-left .signup-signin-link {
    text-align: center;
    font-size: 13px;
    margin: 10px 0;
}

.signup-right {
    background-image: url(../../assets/images/one.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}