@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Manrope";
}

.login .login-section {
    width: 98%;
    height: 96%;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr;
}

    .login-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-left-content {
        width: 65%;
    }

        .login-left-head {
            font-size: 25px;
            font-weight: bolder;
            margin: 20px 0 10px 0;
        }

        .login-left-text-one {
            font-size: 13px;
            margin: 0 0 20px 0;
        }

        .login-labels {
            font-weight: 500;
            font-size: 14px;
        }

        .login-input{
            width: 95%;
            padding: 8px;
            margin: 5px 0 15px 0;
        }

        .login-checkbox-password {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

            .login-checkbox-text {
                font-weight: 500;
                font-size: 12px;
            }
        
            .login-forgot-pword {
                font-weight: 500;
                font-size: 12px;
            }


        .login-button {
            width: 102%;
            background-color: #3E1800;
            color: white;
            border: 0;
            cursor: pointer;
        }

        .login-hr-line {
            width: 36%;
            display: inline-block;
        }
        
        .login-hr-text {
            font-size: 12px;
        }

        .login-google {
            width: 102%;
            padding: 8px;
            margin: 20px 0;
            cursor: pointer;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
        }

            .login-google-text {
                font-size: 13px;
            }

        .login-signup-link {
            text-align: center;
            font-size: 13px;
            margin: 10px 0;
        }

    .login-right {
        background-image: url(../../assets/images/login-image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
    }