.home {
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.section-one {
    width: 100%;
    background-color: #F5F5F5;
}

.main {
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    background-color: #F5F5F5;
    justify-content: center;
}

.main .left {
    width: 50%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

.main .left .summer-sale-info {
    border-radius: 50px;
    background-color: #ffffff;
    padding: 5px;
    width: 45%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-weight: bold; */
}

.left .info-text {
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 25px 0;
}

.left span {
    font-size: 14px;
    line-height: 35px;
}

.left .shop {
    width: 30%;
    padding: 20px;
    margin: 25px 0;
    font-size: 16px;
    border: 0;
    background-color: #3E1800;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.main .right {
    width: 50%;
    display: flex;
    justify-content: center;
}

